# 
# NGINX Session Manager Configuration Examples/Documentation
#
# Several notes on the configuration file the NGINX session manager:
#
# - the format of the file is JSON, with a twist - comment (lines) can be
#   included by prefixing with a '#' character (by now that should be obvious)
#
# - the JSON data is only validated for syntax, not content.  Unrecognized key 
#   values will not be noticed/flagged, so a value can be 'commented' out by
#   making the key unrecognizable - such as prefixing the key with the '#'
#   character, as is done for certain cases below.
#
{
    #
    # If specified, log all session verification/access to this file.
    #
    "#sessionLogFile": "/var/log/nginx-session.log",

    #
    # The following JSON object defines the manager TCP service information.
    #
    "service": {
        #
        # To bind to a specific network address/interface, uncomment and
        # specify it here.  If unspecified, the value of 'any' is used which
        # indicates any/all interfaces will accept incoming requests.
        #
        "#bindAddress": "127.0.0.1",

        #
        # The service/port to bind to for incoming requests.  This can either
        # be a numeric port number or a service name to resolve.
        #
        "#bindPort": "5344"
    },

    #
    # Each session verification instance is defined in a profile entry.
    #
    "profiles": {
         #
         # Example configuration profile for a SAML SSO instance.
         #
         "saml-example": {
             #
             # Type indicates this is a SAML SSO profile.
             #
             "type": "saml",

             #
             # Sign-On URL is a required option and must be the HTTP-Redirect
             # mode endpoint of the SAML Idp instance.
             #
             "signOnURL" : "<METADATA_REDIRECT_URL>",

             #
             # Also referred to as the Issuer in the outgoing authentication
             # initiation request, this uniquely identifies the application
             # or service being authenticated.  Should match (but is not
             # necessarily validated) the corresponding setting in the IdP.
             # Optional depending on IdP, will be verified if returned in the
             # POST response.
             #
             "entityId": "<ISSUE_ENTITY_ID>",

             #
             # Optional value to specify the ProviderName attribute in the
             # initial authentication request, if required by the IdP.
             #
             "#providerName": "NGINX Session Manager",

             #
             # If dealing with multiple endpoints for the IdP or specific
             # cases where the IdP is validating the target endpoint and the
             # 'normal' process is not working, specify the Destination field
             # of the authorization request.  Optional, if unspecified defaults
             # to the signOnURL value.
             #
             "#destination": "<ENDPOINT_URL>",

             #
             # Optional flag to control SSO reuse, if this is set to true,
             # the IdP will force reauthentication by the user even if the
             # current SSO session is valid (presuming that the IdP observes
             # the ForceAuthn attribute).
             #
             "#forceAuthn": false,

             #
             # Optional flag to control SSO establishment by the IdP, if set
             # to true the IdP will not provide a login workflow to reestablish
             # the SSO session if it is not valid.
             #
             "#isPassive": false
         }
     }
}
